.logo {
    padding-right: 2em;
    padding-left: 2em;
}

#container {
   max-width: 1920px;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    color: #FFD700;
    text-decoration: none;
}